# Visual Studio Code stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Python stuff
__pycache__/*

# Word stuff
~$*.docx
